// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Ailerons-Regular";
   src: url('/assets/pages/fonts/Ailerons-Regular')
}

 @font-face {
   font-family: "Ailerons-Regular";
   src: url('/assets/pages/fonts/Ailerons-Regular')
}
 //$my-font: "Ailerons-Regular";
 //$my-font: "Ailerons-Regular";