// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Anurati-Regular";
   src: font-url('Anurati-Regular.eot');
   src: font-url('Anurati-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('Anurati-Regular.woff') format('woff'),
        font-url('Anurati-Regular.ttf') format('truetype')
 }
 $my-font: "Anurati-Regular";
 $my-font: "Anurati-Regular";