// Specific CSS for your home-page
@import url(//db.onlinewebfonts.com/c/a21764905c623777a48ec557b4229c22?family=Anurati);

.container {
	padding-top: 200px;
	padding-bottom: 200px;

}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
    position:fixed;
    top:0;
    width:100%;
    height:56px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  background-color: transparent;
}



.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
}


.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 100%;
  position: relative;
  display: flex;
  height: 10px;
  padding-top: 100px;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.demo {
    font-family:"Anurati-Regular" !important;
    font-size:16px;
    font-style: normal;
}




.stars > div {
  overflow: hidden;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}



.stars .stars-middle {
  background-image: 
    radial-gradient(3px 3px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: stars 3.5s infinite linear;
}


//ANIMATION


@keyframes stars {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}