  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522760122564-d567dac67f45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80);">
      <h1 id="thank"> Thank you ! </h1>
      <div class="container-show">
        <div class="center">
              <h3> Here are your booking informations </h3>
              <br>
                <table>
                 <tbody>
                    <tr>

                      <td><h4>  You will fly with <strong>  <%= @booking.spaceship.name %> </strong></h4></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                      <td><h4> The total price for your booking is <%= @booking.total_price %> €</h4></td>
                    </tr>
                  </tbody>
                </table>
      
        
          <hr>
          <%= link_to "Go back to my booked spaceships", spaceships_path, class:"btn btn-default btn-lg", id:"btn-back-show-booking" %>
    </div>

  </div>