

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://830676.smushcdn.com/1681605/wp-content/uploads/2020/02/jeremy-thomas-E0AHdsENmDg-unsplash-1080x737.jpg?lossy=1&strip=1&webp=1);">


    <div class="container">


        <button class="search"></button>
          <%= form_tag spaceships_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
            class: "input-red-search-bar", id:"search"
            %>
            <%= submit_tag "Search", class: "btn btn-primary", style: "display: none;"%>
          <% end %>
      </div>
      <%= render 'shared/footer' %>
    </div>

 <div class="col text-center">

  </div>


  <section class="space">
    <div class="stars">
      <div class="stars-middle"></div>
    </div>
  </section>


