.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-trip {
  height: 230px;
  background: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.7);
  // display:flex;
  // justify-content: center;
  // align-items: center;
  margin-left: -5%;
  margin-right: 55%;
  border-radius: 15px;
}

#circle-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255,255,255,0.7);
  border:3px solid white;
  margin-top: 4%;
  margin-left: 10%;
  background: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3));
  // display:flex;
  // justify-content: center;
  // align-items: center;
}

.card-trip tr {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-trip .card-trip-infos {
  padding: 0px;
  margin-bottom: 80px;
}

#content {
  display: none;
}

#content.show {
  display:flex;
  // justify-content: space-between;
  align-items: flex-end;
  position:relative
}
