

h2 {
  color: whitesmoke;
  font-weight: bold;
}
.container-show {
  height: 200px;
  left: 300px;
}

.center {
  margin: 0;
  position: absolute;
  top: 400px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#thank {
	position: absolute;
	top: 200px;
	left: 200px;
}

.btn-booking {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none !important
}


li {
  transform: translate(10px, 75%);
  vertical-align: middle;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   // background: rgb(0, 0, 0); /* fallback color */
   // background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}


.card{
  margin-bottom: 30px;
    height: 15vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-size: cover;
  padding: 1rem;

  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);

  @media (min-width: $bp-md) {
    height: 350px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    //transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    //transform: translateY(-50%);
    //transition: transform calc(var(--d) * 2) var(--e);
  }
    &:hover {
    background-color: none;
    linear-gradient: none;
  }
  


.btn-edit-booking {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: orange;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.remove-image {
display: none;
position: absolute;
top: 2px;
right: 2px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px;
color: #FFF;
font-size: 15px;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
 color: red;
 text-decoration: none;
  padding: 3px 7px 5px;
  top: 2px;
right: 2px;
margin-bottom: 10px;
}
.remove-image:active {
 background: #E54E4E;
 color: red;
 text-decoration:none;
  top: 2px;
right: 2px;
}
}


.row {
  text-decoration: none;
}